{% extends "base.html" %}
{% block title %}
  <title>Manufacturer</title>
{% endblock %}

{% block content %}
  <h2>Manufacturers</h2>

  {% if manufacturer_list %}
    <table class="table-simple">
      <thead>
        <tr>
          <th>NAME</th>
          <th>COUNTRY</th>
        </tr>
      </thead>
      <tbody>
        {% for manufacturer in manufacturer_list %}
          <tr>
            <td>{{ manufacturer.name }}</td>
            <td>{{ manufacturer.country }}</td>
            <td>
              <a href="{% url 'taxi:manufacturer-update' pk=manufacturer.id%}">Update</a>
            </td>
            <td>
              <a href="{%  url 'taxi:manufacturer-delete' pk=manufacturer.id %}">Delete</a>
            </td>
          </tr>
        {% endfor %}
  {% else %}
      <p>There are no manufacturers in the service.</p>
  {% endif %}
  <p><a href="{% url 'taxi:manufacturer-create' %}">Create manufacturer</a></p>
      </tbody>
    </table>
{% endblock %}