body {
    background-color: rgb(225, 255, 213);
}

.table-simple {
  border-collapse: collapse;
  width: auto;
}

.table-simple th,
.table-simple td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.pagination {
  margin-top: 20px;
}

td {
  background-color: rgb(182, 246, 109);
}

th {
  background-color: blueviolet;
  color: aliceblue;
}

h2 {
  color: red;
  font-size: 40px;
}

a {
  color:rgb(8, 45, 192);
}

.site-title {
  display: inline-block;
  text-align: center;
  margin: 30px auto;
  color: green;
  border: 5px solid rgb(250, 142, 142);;
  padding: 20px;
}

.main-user {
  color: red;
  font-size: 25px;
  font-weight: 900;
}

.pages-list {
  color: darkmagenta;
  font-size: 20px;
}

.pages-link {
  text-decoration: none;
  color: darkmagenta;
  border: 4px dashed rgb(250, 142, 142);
  padding: 10px;
  font-weight: 700;
}