body {
    background-color: papayawhip;
}

.table-simple {
  border-collapse: collapse;
  width: auto;
}

.table-simple th,
.table-simple td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

.pagination {
  margin-top: 20px;
}

td {
  background-color: rgb(182, 246, 109);
}

th {
  background-color: blueviolet;
  color: aliceblue;
}

h2 {
  color: red;
  font-size: 40px;
}

a {
  color:chocolate;
}